<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to Serve Static Assets Directly -->
        <rule name="Static Assets" stopProcessing="true">
          <match url=".*\.(html|htm|svg|js|jsx|mjs|css|png|gif|jpg|jpeg|ico|json|woff|woff2|ttf|map|txt|webmanifest)$" />
          <action type="Rewrite" url="{REQUEST_URI}" />
        </rule>

        <!-- Rule for React Router SPA -->
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
